<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!--Bootstrap for layout-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> 

</head>
<body>
    
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/transactions">Transactions</a>
        <a class="nav-link" href="/charts">Charts</a>
    </div>
</nav>

<div class="container mt-4">
    <h1>Finance Analytics Dashboard</h1>

    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Net Worth</h2>
            <canvas id="home-networth-chart"></canvas>
        </div>
        <div class="col-md-6">
            <h2>Monthly Budget Spent</h2>
            <canvas id="home-budget-chart"></canvas>
        </div>
    </div>

    <h2>Last 5 Transactions</h2>
    <table id="recent-table" class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Desription</th>
                <th>Category</th>
                <th>Account</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!--Chart.js for the graphs-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!--JavaScript that loads the recent transactions.-->
<script src="{{ url_for('static', filename='home.js')}}"></script>

</body>
</html>